@model MVCMusicStore.Models.Genre

@{
    ViewBag.Title = "Browse";
}
<br />
<br />
<h2>Browsing Genre: @Model.Name</h2>

<ul>
    @foreach (var x in Model.Albums)
    {
        <li>
            @*The first parameter is the link text, and the second parameter is the name of the controller action, the parameter after that is what we are passing to the controller*@
            @Html.ActionLink(x.Title, "Details", new { id = x.AlbumId })
        </li>
    }
</ul>

